body {
    background-color: red;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 10px;
}
.selected {
    border: 4px solid black;
}
  